body {
  width: 100%;
  margin: 0;
  color: rgb(74, 74, 74);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}


/* header section */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 64px;
  background-color: white;
  color: black;
}

.CA-logo {
  display: flex;
  padding-left: 24px;
}

.logo, .colmaracademy {
  display: flex;
  justify-content: center;
  align-content: center;
}

.Colmar, .Academy {
  font-size: 24px;
  display: inline-flex;
  justify-content: center;
  align-content: center;
}

.Colmar {
  font-weight: bold;
}

nav, nav ul {
  padding: 0;
}

nav {
  padding-right: 24px;
}

nav ul {
  display: flex;
}

nav li {
  display: inline-block;
}

nav a {
  text-decoration: none;
  padding-left: 16px;
}

header .mobile {
  display: none;
}

@media only screen and (max-width: 650px){
  .colmaracademy {
    display: none;
  }

  header .desktop {
    display: none;
  }

  header .mobile {
    display: block;
  }

  header .mobile li {
    padding-left: 16px;
  }
}


/* Learn something new section */

.learn {
  display: flex;
  padding-top: 64px; /* To offset for fixed header. */
  background-color: lightgray;
}

.learn img {
  width: 60%;
  padding: 32px 24px;
}

.learn-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  padding: 24px;
}

button {
  background-color: rgb(74, 74, 74);
  border-style: none;
  color: white;
  width: 100%;
  padding: 8px;
}

@media only screen and (max-width: 650px){
  .learn {
    flex-direction: column;
  }

  .learn img {
    width: 100%;
    padding: 0;
  }

  .learn-text {
    display: flex;
    width: auto;
  }
}


/* section */

.slide {
  display: flex;
}

.practicing {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.practicing img, .practicing-text {
  width: 100%;
  padding: 32px 24px;
  border-right-style: solid;
  border-color: lightgray;
}

.practicing-text {
  padding-top: 0;
}

.boxes {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: 48px;
}

.h-box {
  display: flex;
}

.h-box img {
  width: 35%;
  padding: 16px;
}

#b {
  border-style: none solid solid none;
  border-color: lightgray;
}

#guest {
  background-color: lightgray;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.h-box .mobile {
  display: none;
}

@media only screen and (max-width: 650px){
  .slide {
    flex-direction: column;
  }

  .practicing {
    display: none;
  }

  .boxes {
    width: auto;
    margin-left: 0;
  }

  .h-box {
    flex-direction: column;
  }

  .h-box img {
    width: auto;
  }

  .h-box .desktop {
    display: none;
  }

  .h-box .mobile {
    display: block;
  }

  #b {
    border-style: none;
  }

  #guest {
    background-color: white;
  }

  .text h1, h2, h3 {
    padding: 0 16px;
  }
}


/* section */

.start {
  background-color: lightgray;
  width: 100%;
  padding-bottom: 16px;
}

#H1 {
  text-align: center;
  padding: 32px;
}

.start-box {
  display: flex;
  flex-wrap: wrap;
  padding: 0 56px;
}

.v-box {
  background-color: white;
  margin: 0 16px 32px 16px;
  width: 30%;
}

.v-box img {
  width: 100%;
}

.text {
  padding: 16px;
}

@media only screen and (max-width: 650px){
  .start {
    background-color: white;
  }

  #H1 {
    margin-top: 16px;
    padding: 16px;
  }

  .start-box {
    flex-direction: column;
    padding: 0;
  }

  .v-box img {
    display: none;
  }

  .v-box {
    background-color: lightgray;
    margin: 0 16px 16px 16px;
    width: auto;
  }

  .v-box .text h2 {
    display: none;
  }
}


/* section */

.thesis {
  width: 100%;
}

.thesis-vid {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.thesis-vid video {
  width: 100%;
  padding: 0 24px 32px 24px;
}

.thesis-text {
  width: 100%;
  padding: 32px 24px;
  padding-top: 0;
}

footer {
  display: flex;
  justify-content: space-between;
  border-top: solid;
  border-color: lightgray;
  padding: 16px 24px;
  margin-bottom: 24px;
}

.terms {
  display: inline-block;
}

.terms ul {
  display: flex;
  margin: 0;
}

.terms li {
  display: inline-block;
}

.terms a {
  text-decoration: none;
  padding-left: 16px;
}
